data/originals/*.fits
.DS_Store
/src/mes_longslit/__pycache__/
/data/astrometry-net/*.fits
/data/wcs/*.png
/data/wcs/*.fits
/data/wcs/*.xyls
/data/wcs/*.axy
/data/wcs/*.corr
/data/wcs/*.match
/data/wcs/*.rdls
/data/wcs/*.solved
/notebooks/.ipynb_checkpoints/*.ipynb
.ipynb_checkpoints
*.pyc
*.bck
*.bck.dir
/data/nordic-images/AL*.fits
